<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand"
      [class.highlight]="highlightTitle"
      [style.font-size.px]="fontSize"
      href="index.html">conduit</a>


    <!-- <app-header-demo></app-header-demo>

    <a class="navbar-brand" [class]="{ highlight: highlightTitle }" href="index.html">conduit</a> -->

    <input
      [(ngModel)]="keyword"
      class="form-control form-control-sm search-input" type="text" placeholder="Keyword">

    <!-- <input
      [type]="inputType" > -->

    <!-- <input
      [value]="keyword"
      (input)="keyword = $any($event.target).value"
      class="form-control form-control-sm search-input" type="text" placeholder="Keyword"> -->

    <!-- <input
      [ngModel]="keyword"
      (ngModelChange)="keyword = $event"
      class="form-control form-control-sm search-input" type="text" placeholder="Keyword"> -->

    <button class="btn btn-sm btn-primary" (click)="search($event)" >
      <i class="ion-search"></i>
    </button>
    {{ keyword }}
  </div>
</nav>
