<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" [class.highlight]="highlightTitle" [style.font-size.px]="fontSize"
      href="index.html">conduit</a>


    <!-- <app-header-demo></app-header-demo>

    <a class="navbar-brand" [class]="{ highlight: highlightTitle }" href="index.html">conduit</a> -->

    <input [(ngModel)]="keyword" class="form-control form-control-sm search-input" type="text" placeholder="Keyword">

    <!-- <input
      [type]="inputType" > -->

    <!-- <input
      [value]="keyword"
      (input)="keyword = $any($event.target).value"
      class="form-control form-control-sm search-input" type="text" placeholder="Keyword"> -->

    <!-- <input
      [ngModel]="keyword"
      (ngModelChange)="keyword = $event"
      class="form-control form-control-sm search-input" type="text" placeholder="Keyword"> -->

    <button class="btn btn-sm btn-primary" (click)="search($event)">
      <i class="ion-search"></i>
    </button>
    {{ keyword }}

    <span class="highlight">
      <ng-container *ngIf="!keyword;then noKeyword; else hasKeyword"></ng-container>

      <ng-template #noKeyword>
        請輸入關鍵字
      </ng-template>
      <ng-template #hasKeyword>
        關鍵字：{{ keyword }}
      </ng-template>
    </span>

    <!-- <span class="highlight">
      <span *ngIf="!keyword; else noKeyword">請輸入關鍵字</span>
      <ng-template #noKeyword>
        <span>關鍵字：{{ keyword }}</span>
      </ng-template>
    </span> -->

    <!-- <span class="highlight" *ngIf="!keyword; else noKeyword">請輸入關鍵字</span>

    <ng-template #noKeyword>
      <span class="highlight">關鍵字：{{ keyword }}</span>
    </ng-template> -->

    <!-- <div [ngSwitch]="keyword">
      <div *ngSwitchCase="'Mike'">不可以輸入 Mike</div>
      <div *ngSwitchCase="'Will'">Will 好棒棒</div>
      <div *ngSwitchDefault>....</div>
    </div> -->

  </div>
</nav>
